################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.exe
*.dll
*.pdb
*.suo
*.sln
*.cache
*.txt
*/obj
*/bin
*.snippet
*.sqllite
*/.vs